[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "3rdparty/nifpga-cpp"]
	path = 3rdparty/nifpga-cpp
	url = git@github.com:mmatthe/nifpga-cpp.git
